<!DOCTYPE html>
<html>
<head>
  <title>Add User</title>
</head>
<body>

<h2>Add New User</h2>

<form action="/admin/addUser" method="post">
  
  <label>Email</label><br>
  <input type="email" name="email" >
  <br><br>

  <label>Password</label><br>
  <input type="password" name="password" >
  <br><br>

  <button type="submit">Save User</button>
</form>

<a href="/admin/dashboard">Back</a>

</body>
</html>
